{% extends 'community/base.html' %}
{% load staticfiles%}
{%block body%}
<div class="container">

  <h1>社团{{ community_tag }}</h1>
{{graph}}
{% for bar in bars %}
  {{bar}}
{% endfor %}

  <table class="table table-striped table-responsive w-75 p-3" >
    <thead class="thead-dark">
    <tr>
      <th class="col-md-3 text-center">编号</th>
      <th class="col-md-3 text-center">领袖IP</th>
      <th class="col-md-3 text-center">总IP数</th>
      <th class="col-md-3 text-center">总边数</th>
    </tr>
    </thead>
    {% for c in communities %}
    <tr class="text-center">
      <td class="col-md-3"><a href="{% url 'community:detail' c.community_tag %}">社团{{c.community_tag}}</a></td>
      <td class="col-md-3">{{c.leader_ip}}</td>
      <td class="col-md-3">{{c.ip_counts}}</td>
      <td class="col-md-3">{{c.link_counts}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}